<div class="contacto">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-4">
                <h3>Registro</h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5">
                <form novalidate [formGroup]="formulario" (ngSubmit)="recogerRegistro()">
                    <div class="form-row">
                        <div class="form-group col-12 col-md-6">
                            <label>Nombre</label>
                            <input type="text" name="nombre" class="form-control" formControlName="nombre">
                            <p class="error"
                                *ngIf="formulario.controls.nombre.errors?.required && formulario.controls.nombre.touched">
                                El campo no puede estar vacio</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12 col-md-6">
                            <label>Apellidos</label>
                            <input type="text" name="apellidos" class="form-control" formControlName="apellidos">
                            <p class="error"
                                *ngIf="formulario.controls.apellidos.errors?.required && formulario.controls.apellidos.touched">
                                El campo no puede estar vacio</p>
                        </div>
                    </div>
                    <div class=" form-row">
                        <div class="form-group col-12 col-md-6">
                            <label>Nombre de Usuario</label>
                            <input type="text" name="userName" class="form-control" formControlName="userName">
                            <p class="error"
                                *ngIf="formulario.controls.userName.errors?.required && formulario.controls.userName.touched">
                                El campo no puede estar vacio</p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12 col-md-6">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" formControlName="password">
                            <p class="error"
                                *ngIf="formulario.controls.password.errors?.required && formulario.controls.password.touched">
                                El campo no puede estar vacio</p>
                        </div>
                    </div>
                    <div class="form-row ">
                        <div class="form-group col-12 col-md-6">
                            <label>Email</label>
                            <input type="text" name="email" class="form-control" formControlName="email">
                            <p class="error"
                                *ngIf="formulario.controls.email.errors?.required && formulario.controls.email.touched">
                                El campo no puede estar vacio</p>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck" name="checkbox"
                                formControlName="checkbox">
                            <label class="form-check-label" for="gridCheck">
                                Acepto los terminos y condiciones
                            </label>
                        </div>
                    </div>
                    <input [disabled]="!formulario.valid" type="submit" class="btn btn-secondary" value="Enviar">

                </form>
            </div>

        </div>
    </div>
</div>