<div class="row continentes">
    <nav aria-label="breadcrumb" class="col-12">
        <ul class="breadcrumb submenu">
            <li class="breadcrumb-item" [routerLink]="['/posts', 'Europa']"><a>Europa</a></li>
            <li class="breadcrumb-item" [routerLink]="['/posts', 'Asia']"><a>Asia</a></li>
            <li class="breadcrumb-item" [routerLink]="['/posts', 'Africa']"><a>Africa</a></li>
            <li class="breadcrumb-item" [routerLink]="['/posts', 'America_del_Norte']"><a>America del Norte</a></li>
            <li class="breadcrumb-item" [routerLink]="['/posts', 'America_del_Sur']"><a>America del Sur</a></li>
            <li class="breadcrumb-item" [routerLink]="['/posts', 'Oceania']"><a>Oceania</a></li>
            <li class="breadcrumb-item" [routerLink]="['/posts']"><a>Todos</a></li>
        </ul>
    </nav>
</div>


<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="profile-work">
                        <p>Enlaces de Interes</p>
                        <a href="www.booking.com">Booking</a><br />
                        <a href="">Expedia</a><br />
                        <a href="">Airbnb</a><br />
                        <a href="">SkyScanner</a><br />
                        <a href="">eDreams</a><br />
                        <a href="">Trivago</a><br />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 gedf-main">

            <!--- \\\\\\\Post pintados -->

            <div class="card gedf-card" *ngFor="let post of arrPost, index as i ">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <img [src]="'http://localhost:9000/'+ post.foto_perfil" width="60px" height="60px"
                                    class="perfil-continente">
                                <!--[src]="post?.foto_perfil" -->
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0"><button type="button" class="btn btn-light" data-toggle="modal"
                                        [attr.data-target]="'#modal'+ i">
                                        {{post?.username}}</button></div>
                                <!--Modal-->
                                <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                    aria-hidden="true" id="modal{{i}}">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div>
                                                    <img [src]="'http://localhost:9000/'+ post.foto_perfil" width="60px"
                                                        height="60px" class="perfil-continente">
                                                </div>
                                                <h5 class="modal-title ml-3" id="exampleModalLabel">
                                                    <strong>{{post?.username}}</strong></h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <strong> Paises Visitados:</strong> {{post?.paises_visitados}}
                                                <hr>
                                                <strong>Próximos Viajes:</strong> {{post?.proximos_viajes}}
                                                <hr>
                                                <strong> Idiomas:</strong> {{post?.idiomas}}
                                                <hr>
                                                <strong>Deportes que Practico:</strong> {{post?.deportes_practico}}
                                                <hr>
                                                <strong>Deportes de Interés:</strong> {{post?.deportes_interes}}
                                                <hr>
                                                <strong>Email:</strong> {{post?.email}}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="h7 text-muted">{{post?.continente}}</div>
                                <div class="edit mt-2">
                                    <button type="button" class="btn btn-info"
                                        (click)="borrarPost(post.id,  post.usuario_id)">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{post?.fecha | date:"dd/MM/yy"}}
                    </div>
                    <h5 class="card-title">{{post?.titulo}}</h5>


                    <p class="card-text">
                        {{post?.parrafo}}
                    </p>
                    <div class="card-img" *ngIf="post.imagenes != ''">
                        <img [src]="'http://localhost:9000/'+ post.imagenes" width="50%" height="50%">
                    </div>
                    <div class="card-footer">
                        <a [routerLink]="['/posts']" class="card-link meGusta" (click)="meGusta(post.id)"><i
                                class="fa fa-gittip"></i>
                            {{post?.me_gusta}} Me gusta</a>
                    </div>
                    <div class="comentarios">
                        <form novalidate [formGroup]="formulario2" (ngSubmit)="recogerDatos(post.id)">
                            <div class="form-group">
                                <textarea class="form-control" rows="3" placeholder="Escribe un comentario" name="texto"
                                    class="form-control" formControlName="texto"></textarea>
                            </div>
                            <div class="btn-group">
                                <input type="submit" class="btn btn-secondary" value="Comentar">
                            </div>
                            <hr>
                        </form>
                        <div class="comentarios mt-3" *ngFor="let com of post.comentarios">
                            <h6>{{com.username}}</h6>
                            <p class="card-text">
                                {{com.texto}}
                            </p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>