.continentes{
    cursor: pointer;
}
.breadcrumb-item {
    padding:5px;
}
.breadcrumb-item a:hover{
    background-color: rgb(100, 97, 97);
    color:white;
}
.perfil-continente{
    border-radius: 50%;
}

body {
            background-color: #eeeeee;
        }

        .h7 {
            font-size: 0.8rem;
        }

        .gedf-wrapper {
            margin-top: 0.97rem;
        }

        @media (min-width: 992px) {
            .gedf-main {
                padding-left: 4rem;
                padding-right: 4rem;
            }
            .gedf-card {
                margin-bottom: 2.77rem;
            }
        }

        /**Reset Bootstrap*/
        .dropdown-toggle::after {
            content: none;
            display: none;
        }

input.ng-valid.ng-touched{
    border:3px solid green;
}

input.ng-invalid.ng-touched{
    border:3px solid red;
}

.error{
    color:red;
}
